
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    /* Que el main crezca para ocupar el espacio disponible */
}

footer {
    flex-shrink: 0;
    /* Footer no se achica */
}



.hero-banner {
    height: 300px;
    background: linear-gradient(90deg, #0058ff 0%, #4dabff 100%);
    margin-bottom: 60px;
}

