*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}



.nav-link:hover {
  background-color: var(--bs-warning);
  color: #000 !important;
  border-radius: 9px;
  box-shadow: 0 0 12px rgba(255, 193, 7, 0.7); 

}

.nav-link {
  transition: all 0.3s ease-in-out;
}

